<h1>Meet <%= @dog.name %></h1>

<p>
	<strong>ID:</strong>strong><%= @dog.id %>
</p>

<p>
	<strong>Breed:</strong>strong><%= @dog.breed %>	
</p>

<p>
	<strong>Age:</strong>strong><%= @dog.age %>
</p>

<!-- <p><strong>Date Added:</strong> <%= @dog.created_at.stamp('07/07/1995') %> -->
<!-- </p> -->
